/* ========Navbar-part======== */
/* ========Navbar-part======== */
* {
    padding: 0px;
    margin: 0px;
}

.navber-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.home-color {
    color: orangered;
}

.image {
    padding-left: 110px;


}

.Hero {
    padding-right: 500px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.manubar {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 120px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.travel {
    padding-right: 500px;
}

/* background-image-part */
/* background-image-part */

.back-img {
    background-image: url("Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;

}

.Explor {
    text-align: center;
    padding-top: 90px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.agency {
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
}

/* ======= select-option-paty ======= */
/* ======= select-option-paty ======= */

.select-option {
    text-align: center;
    padding-top: 70px;

}

.were-go {
    background-color: white;
    padding: 10px 30px;
    color: black;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

.when {
    background-color: white;
    padding: 10px 30px;
    color: black;
    border-radius: 8px;
    border: none;
    margin-right: 10px;

}

.select-Type {
    background-color: white;
    padding: 10px 30px;
    color: black;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

.Find-Now {
    background-color: orangered;
    padding: 10px 30px;
    color: white;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

/* =====Our tours travel===== */
/* =====Our tours travel===== */
.popular {
    display: flex;
    padding-top: 70px;
    padding-left: 110px;
    padding-right: 112px;
    padding-bottom: 70px;

}

.devision>h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;

}

.devision>p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
}

.gap {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.gep {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.gp {
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.unoder {
    margin-left: 20px;
}

.Read {
    padding: 8px 30px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 10px;
}

/* ======choose your destination===== */
/* ======choose your destination===== */



/* ======why choose us====== */
/* ======why choose us====== */
.all-box {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
     



}

.single-box {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(215, 245, 250);
    text-align: center;
    padding: 20px;
    margin-right: 40px;
    height: 300px;
    border: none;
    text-align: left;

}

.discound {
    height: 80px;
    width: 80px;
    padding-top: 30px;
     
}

.map {
    height: 70px;
    width: 70px;
    padding-top: 30px;


}

.hotel {
    height: 80px;
    width: 80px;
    padding-top: 30px;
}

.single-box>h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 10px;
}

.choose {
    text-align: center;
}

.choose>h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
}

.choose>p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ====deals & discounts==== */
/* ====deasl & discounts==== */
.Discounts {
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 70px;
    
}

.deals {
    text-align: center;

}

.hello {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
    font-size: 30px;
}

.para {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

.discount1 {
    background-image: url("Group\ 39.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 500px;
    display: flex;


}

/* =====First Photo====== */
/* =====First Photo====== */
#offer {

    color: black;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    height: 320px;
    opacity: 0.8;
    margin-left: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    background-color: rgb(254, 252, 250);
    margin-right: 40px;


}

.second-pic {
    background-image: url("Group\ 40.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    padding-top: 50px;
    border-radius: 10px;
    border: none;
}

.book {
    padding: 8px 30px;
    background-color: orangered;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

.lorem {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.about {
    text-align: center;
    padding-top: 10px;
    text-transform: lowercase;
}

.price {
    color: orangered;
    padding-top: 10px;
}

.Satorini {
    padding-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ======second photo======= */
/* ======second photo======= */
#opacity {
    color: black;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    height: 320px;
    opacity: 0.8;
    margin-right: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    background-color: rgb(250, 249, 247);
    margin-left: 40px;
    border-radius: 10px;
    border: none;

}

.of-tour {
    padding-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    text-align: center;
    padding-top: 10px;
    text-transform: lowercase;
}

.muslo {
    color: orangered;
    padding-top: 10px;
}

.gress {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.Now {
    padding: 8px 30px;
    background-color: orangered;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

/* ======Third photo========= */
/* ======Third photo========= */


.Threed {
    background-image: url("Group\ 39.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 60px;
     padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    border: none;


}

.package {
    margin-left: 500px;
    padding: 9px 39px;
    background-color: orangered;
    border: none;
    color: rgb(248, 242, 242);
    border-radius: 10px;
    margin-top: 20px;
   
}
   

/* ======== */
/* ======== */

.perfect-us {
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 30px;
}

.main-pareant {
    display: flex;
    width: 83%;
}
.video-secction{
    display: flex;
     justify-content: center;
}

.Childern>h1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.Childern>p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 17px;
}

.sub-children {
    padding-left: 20px;
}

.ul {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 17px;
}

.li {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 17px;
}

.More {
    padding: 8px 30px;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    border: none;
}

.video {
    border-radius: 10px;
    margin-bottom: 60px;

}

.hello {
    margin-left: 110px;
    margin-right: 110px;

}

.divesion {
    display: flex;
}


/* footer */

 .footer{
    height: 500px;
    background-color:rgb(237, 243, 240);
    padding-top: 100px;
    padding-left: 310px;
    padding-right: 310px;
      
 } 
 .paragraph{
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .fgti{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
     
 }
 .hi-rafarence{
   border: 1px solid black;
   width: 100%;
   text-align: center;
   
 }
 .end{
    padding-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }